.Arvipace__container{
    width: 100%;
    height: auto;
}

@media only screen and (max-width:800px){
    .Arvis__pixelimage{
        position: fixed;
        height: 320px;
        width: auto;
        transform: rotatez(90deg);
        top: 30px;
        left: 225px;
    }


    .Arvis__container{
        grid-column: 2/12;
        margin-top: 50px;
        z-index: 5;
        margin-bottom: 50px;
    }

    .Arvis__header{
        display: grid;
        grid-template: "titles img";
        grid-gap: 15px;
        grid-template-rows: auto;
    }
    .Arvis__logo{
        grid-area:img;
        width: 120px;
        height: auto;
        border-radius:25px;
        box-shadow: 3px 6px 6px #505485;
        background:white;
    }
    .Arvis__titles{
        grid-area: titles;
        margin-top: 50px;
        text-align: right;
    }
    .Arvis__title{
        margin:0;
        padding: 0;
    }
    .Arvis__subtitle{
        margin:0;
        padding: 0;
        color: #505485;
        font-size: 15px;
    }
    .Arvis__content{
        padding: 20px;
    }

    .Arvis__description{
        margin-top: 30px;
    }
    .Arvis__footer{
        display: grid;
        grid-template: "a b "
                        "c c";
        grid-gap: 10px;
        grid-template-rows: auto;
    }
    .Arvis__footer img{
        width: 100%;
        height: auto;
    }
    .Arvis__playstore{
        grid-area: a;
    }.Arvis__appstore{
        grid-area: b;
    }
}