.Navbar{
    width: 100%;
    position: fixed;
    background: var(--bg-glass);
    backdrop-filter: var(--blur-effect);
    padding: 1rem 0;
    color: var(--color-title);
    display: flex;
    justify-content: center;
}

.Navbar__item{
    margin-left: 15px;
    margin-right: 15px;
    min-width: 30px;
    text-align: center;
    font-family: 'Quicksand-Bold';
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .Navbar{
        position: fixed;
        width: 100%;
        bottom: 0;
        background: linear-gradient(267.83deg, #6A5085 0%, #505485 100%);
        border-radius: 20px 20px 0px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

}