.Arvipace__container{
    width: 100%;
    height: auto;
}

@media only screen and (max-width:800px){
    .SportCloset__pixelimage{
        position: fixed;
        height: 320px;
        width: auto;
        transform: rotatez(90deg);
        top: 30px;
        left: 225px;
    }


    .Arvipace__container{
        grid-column: 2/12;
        margin-top: 50px;
        z-index: 5;
        margin-bottom: 80px;
    }

    .SportCloset__header{
        display: grid;
        grid-template: "img titles";
        grid-gap: 15px;
        grid-template-rows: auto;
    }
    .SportCloset__logo{
        grid-area:img;
        width: 120px;
        height: auto;
        border-radius:25px;
        box-shadow: 3px 6px 6px #505485;
    }
    .SportCloset__titles{
        grid-area: titles;
        margin-top: 50px;
    }
    .SportCloset__title{
        margin:0;
        padding: 0;
    }
    .SportCloset__subtitle{
        margin:0;
        padding: 0;
        color: #505485;
        font-size: 15px;
    }
    .SportCloset__content{
        padding: 20px;
    }

    .SportCloset__description{
        margin-top: 30px;
    }
    .SportCloset__footer{
        text-align: center;
    }
}