:root{
    --primary: #fff;
    --sceondary: #204254;
    --thirdy: #B94A3E;
    --bg-glass: linear-gradient(127.79deg, rgba(255, 255, 255, 0.5) 14.21%, rgba(255, 255, 255, 0) 116.37%);
    --blur-effect: blur(20px);
    --color-title: #000;
}

h1{
    font-family: 'Quicksand-Bold';
}
h2{

    font-family: 'Quicksand-Regular';
}

body{
    background: var(--primary);
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('fonts/Quicksand-Bold.ttf');
}

@font-face {

    font-family: Quicksand-Regular;
    src: url('fonts/Quicksand-Regular.ttf');
}